<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="clientConfig" class="com.halloffame.thriftjsoa.config.ClientConfig">
		<constructor-arg name="host" value="localhost"/> <!-- 连接代理服务的地址 -->
		<constructor-arg name="port" value="4567"/> <!-- 连接代理服务的端口 -->
		<property name="ssl" value="false"/> <!-- 通信是否加密，默认false -->
		<property name="transportType" value="fastframed"/> <!-- buffered, framed, fastframed(default), http -->
		<property name="protocolType" value="compact"/> <!-- binary, json, compact(default) -->
		<property name="socketTimeout" value="3000"/> <!-- 客户端读超时时间（毫秒） -->
	</bean>

	<bean id="clientCollectConfig" class="com.halloffame.thriftjsoa.config.ClientCollectConfig">
		<constructor-arg name="clientConfigMap">
			<map>
				<entry key="thrift.test.ThriftTest.Client"  value-ref="clientConfig"></entry>
			</map>
		</constructor-arg>
	</bean>

</beans>