<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd">
 
    <bean id="thirftJsoaProxy" class="com.halloffame.thriftjsoa.proxy.ThirftJsoaProxy" init-method="run"> <!-- 实例化成功后运行ThirftJsoaProxy的run方法 -->
	    <constructor-arg name="port" value="4567"/> <!-- 代理服务端口 -->
	    <constructor-arg name="zkConnStr" value="localhost:2181"/> <!-- zk连接串 -->
	    
	    <property name="zkRootPath" value="/thriftJsoaServer"/>
	    <property name="zkSessionTimeout" value="5000"/>
	</bean>

</beans>