<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd">
	
    <context:component-scan base-package="com.halloffame.thriftjsoa"/> 
    
    <bean id="testProcessor" class="thrift.test.ThriftTest.Processor">
	    <constructor-arg name="iface" ref="testHandler"/> <!-- 业务实现类 -->
	</bean>
	
    <bean id="poolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
	    <property name="maxTotal" value="15"/> <!-- 链接池中最大连接数，默认为8 -->
	    <property name="maxIdle" value="15"/> <!--  链接池中最大空闲的连接数,默认为8 -->
	    <property name="maxWaitMillis" value="3000"/> <!-- 当连接池资源耗尽时，调用者最大阻塞的时间，超时将跑出异常。单位：毫秒；默认为-1，表示永不超时 -->
	</bean>
	<bean id="serverConfig" class="com.halloffame.thriftjsoa.config.ThreadedSelectorServerConfig">
        <property name="ssl" value="false"/> <!-- 通信是否加密，默认false -->
        <property name="transportType" value="fastframed"/> <!-- buffered, framed, fastframed(default) -->
        <property name="protocolType" value="compact"/> <!-- binary, json, compact(default) -->
        <property name="selectorThreads" value="2"/> 
        <property name="workerThreads" value="5"/> 
        <property name="acceptQueueSizePerThread" value="4"/> 
    </bean>
	
    <bean id="serverZkConfig" class="com.halloffame.thriftjsoa.config.ServerZkConfig">
	    <property name="poolConfig" ref="poolConfig"/> <!-- proxy的连接池配置，默认GenericObjectPoolConfig -->
	    <property name="socketTimeout" value="3000"/> <!-- proxy连接server的读超时时间，默认3000 -->
	    <property name="serverConfig" ref="serverConfig"/> <!-- 服务的一些配置，默认ThreadedSelectorServerConfig -->
	</bean>
    
    <bean id="thirftJsoaServer" class="com.halloffame.thriftjsoa.ThirftJsoaServer" init-method="run"> <!-- 实例化成功后运行ThirftJsoaServer的run方法 -->
	    <constructor-arg name="port" value="9090"/> <!-- 服务端口 -->
	    <constructor-arg name="zkConnStr" value="localhost:2181"/> <!-- zk连接串 -->
	    <constructor-arg name="host" value="localhost"/> <!-- 向zk注册本服务的地址 -->
	    <constructor-arg name="tProcessor" ref="testProcessor"/> <!-- 业务实现类的processor -->
	    
	    <property name="zkRootPath" value="/thriftJsoaServer"/> <!-- zk根路径，默认/thriftJsoaServer -->
	    <property name="zkSessionTimeout" value="5000"/> <!-- zk会话的有效时间，单位是毫秒，默认5000 -->
	    <property name="serverZkConfig" ref="serverZkConfig"/> <!-- 服务端的一些配置，将会保存到zk节点的data上，proxy将会读取这些配置数据 -->
	</bean>

</beans>