<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 控制台日志打印格式 -->
	<property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger : %msg - traceId:[%X{trace_id}], appId:[%X{app_id}]%n"/>
	<!-- 文件日志打印格式 -->
	<property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger : %msg - traceId:[%X{trace_id}], appId:[%X{app_id}]%n"/>

	<!-- 控制台日志 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- 文件日志路径 -->
	<property name="LOG_FILE" value="logs/thriftjsoa_test.log"/>
	<!-- 文件日志 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern> <!-- 按每天切割日志文件，并压缩 -->
			<maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize> <!-- 每个日志文件最大10MB，超过会被切割 -->
			<maxHistory>${LOG_FILE_MAX_HISTORY:-0}</maxHistory>
		</rollingPolicy>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
