<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://www.springframework.org/schema/context
	       http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="com.halloffame.thriftjsoa"/>
	<!-- 启用Spring对基于@AspectJ aspects的配置支持 -->
	<!-- 激活自动代理功能 -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<bean id="poolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
		<property name="maxTotal" value="15"/> <!-- 链接池中最大连接数，默认为8 -->
		<property name="maxIdle" value="15"/> <!--  链接池中最大空闲的连接数,默认为8 -->
		<property name="maxWaitMillis" value="3000"/> <!-- 当连接池资源耗尽时，调用者最大阻塞的时间，超时将跑出异常。单位：毫秒；默认为-1，表示永不超时 -->
		<!-- 启动连接池的对象有效性检查，对象空闲时每隔9秒调用连接池的validateObject进行检查
        <property name="testWhileIdle" value="true"/> 默认false
        <property name="timeBetweenEvictionRunsMillis" value="9000"/> 默认-1不启动 -->
	</bean>

	<bean id="clientClassConfig" class="com.halloffame.thriftjsoa.config.ClientClassConfig">
		<constructor-arg name="clazz" value="thrift.test.ThriftTest.Client"/> <!-- 客户端class -->
		<property name="name" value="thriftTestClient"/> <!-- 自定义名称，用于TMultiplexedProtocol的SERVICE_NAME -->
	</bean>

	<bean id="clientConfig" class="com.halloffame.thriftjsoa.config.ClientConfig">
		<constructor-arg name="host" value="localhost"/> <!-- 连接代理服务的地址 -->
		<constructor-arg name="port" value="4567"/> <!-- 连接代理服务的端口 -->
		<constructor-arg name="clientClassConfigs"> <!-- 生成的客户端的class list -->
			<list>
				<ref bean="clientClassConfig"/>
			</list>
		</constructor-arg>
		<property name="ssl" value="false"/> <!-- 通信是否加密，默认false -->
		<property name="transportType" value="fastframed"/> <!-- buffered, framed, fastframed(default), http -->
		<property name="protocolType" value="compact"/> <!-- binary, json, compact(default) -->
		<property name="socketTimeout" value="3000"/> <!-- 客户端读超时时间（毫秒），默认3000 -->
		<property name="poolConfig" ref="poolConfig"/> <!-- 连接池配置，默认没有连接池 -->
		<property name="poolValidateMethodName" value="connValidateMethod"/> <!-- 连接池检查对象的有效性请求的不存在的接口名，默认connValidateMethod -->
	</bean>

</beans>